<div class="home-banner">
  <div class="container">
    <div class="book-tab">
      <uib-tabset>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Flights</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Hotels</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Car Hire</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Homestays</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Tours &amp; Excursions</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Parking</uib-tab-heading>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
