<div class="home-banner">
  <div class="home-slider-back">
    <flex-slider class="carousel"  flex-slide="s in slider"  direction-nav="false" control-nav="false">
      <li>
        <img ng-src="{{s}}" alt="" class="img-responsive">
      </li>
    </flex-slider>
  </div>
  <div class="container">
    <div class="book-tab">
      <uib-tabset>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Flights</uib-tab-heading>
          <div class="booking-table">
            <form action="">
              <div class="row-flex">
                <div class="col-flex">
                  <div class="choose-destination">
                    <label for="destination">Where would you like to stay ?</label>
                    <textarea name="desctination" placeholder="Destination"></textarea>
                  </div>
                </div>
                <div class="col-flex">
                  <div class="check-in">
                    <label for="checkin">Check in</label>
                    <input type="text" class="form-control" id="checkin" ng-click="open1();" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" / >
                  </div>
                  <div class="check-out">
                    <label for="checkout">Check Out</label>
                    <input type="text" class="form-control" ng-click="open2();" uib-datepicker-popup="{{format}}" ng-model="dr" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  </div>
                </div>
                <div class="col-flex">
                  <div class="book-colum">
                    <label for="rooms">Rooms</label>
                    <select name="" id="rooms">
                      <option value="">1</option>
                    </select>
                  </div>
                  <div class="book-colum">
                    <label for="adults">Adults</label>
                    <select name="" id="adults">
                      <option value="">1</option>
                    </select>
                  </div>
                  <div class="book-colum">
                    <label for="children">Children</label>
                    <select name="" id="children">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                      <option value="">5</option>
                      <option value="">6</option>
                      <option value="">7</option>
                      <option value="">8</option>
                      <option value="">9</option>
                      <option value="">10</option>
                    </select>
                  </div>
                </div>
                <div class="col-flex">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Hotels</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Car Hire</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Homestays</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Tours &amp; Excursions</uib-tab-heading>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading><i class="fa fa-"></i> Parking</uib-tab-heading>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
<div class="popular-destination">
  <img src="img/popular-destination.png" alt="" class="img-responsive m-center text-center">
  <div class="container">
    <div class="popular-places">
      <h3 class="place-heading blue-dark">Europe</h3>
      <div class="row-flex">
        <div class="col-flex">
          <div class="place relate">
            <div class="place-imgholder"><img src="img/switerland.png" alt="" class="img-responsive"></div>
            <div class="place-detail clearfix"><span class="name">Switzerland</span><span class="property">1001 properties</span></div>
          </div>
        </div>
        <div class="col-flex">
          <div class="place relate">
            <div class="place-imgholder"><img src="img/spain.png" alt="" class="img-responsive"></div>
            <div class="place-detail clearfix"><span class="name">Spain</span><span class="property">1001 properties</span></div>
          </div>
        </div>
        <div class="col-flex">
          <div class="place relate">
            <div class="place-imgholder"><img src="img/italy.png" alt="" class="img-responsive"></div>
            <div class="place-detail clearfix"><span class="name">Italy</span><span class="property">1001 properties</span></div>
          </div>
        </div>
        <div class="col-flex">
          <div class="place relate">
            <div class="place-imgholder"><img src="img/France.png" alt="" class="img-responsive"></div>
            <div class="place-detail clearfix"><span class="name">France</span><span class="property">1001 properties</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="placepopular-more bg-blue">
    <div class="container">
      <div class="">
        <div class="row-flex">
          <div class="col-flex">
            <div class="place relate">
              <div class="place-imgholder"><img src="img/geneva.png" alt="" class="img-responsive"></div>
              <div class="place-detail clearfix"><span class="name">Geneva</span><span class="property">1001 properties</span></div>
            </div>
          </div>
          <div class="col-flex">
            <div class="place relate">
              <div class="place-imgholder"><img src="img/basel.png" alt="" class="img-responsive"></div>
              <div class="place-detail clearfix"><span class="name">Basel</span><span class="property">1001 properties</span></div>
            </div>
          </div>
          <div class="col-flex">
            <div class="place relate">
              <div class="place-imgholder"><img src="img/zurich.png" alt="" class="img-responsive"></div>
              <div class="place-detail clearfix"><span class="name">Zurich</span><span class="property">1001 properties</span></div>
            </div>
          </div>
          <div class="col-flex">
            <div class="place relate">
              <div class="place-imgholder"><img src="img/lugano.png" alt="" class="img-responsive"></div>
              <div class="place-detail clearfix"><span class="name">Lugano</span><span class="property">1001 properties</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
