<div class="panel-booking">
  <div class="container">
    <div class="scroll-section">
      <div class="scroll-travel-info">
        <div class="travel-info">
          <div class="row-flex">
            <div class="col-flex">
              <input type="text" name="city" class="city form-control" placeholder="Select Your Destination">
            </div>
            <div class="col-flex">
              <div class="calender">
                <img src="img/calendar.png" alt="">
                <!-- <label for="" class="m-clear">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" />
                </label> -->
                <div class="cal-select relate">
                  <span class="blue-dark">27 Jan</span>
                </div>
              </div>
            </div>
            <div class="col-flex">
              <div class="calender">
                <img src="img/calendar-return.png" alt="" class="">
                <!-- <label for="" class="m-clear">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                    ng-click="open2()" />
                </label> -->
                <div class="cal-select relate">
                  <span class="blue-dark">27 Jan</span>
                </div>
              </div>
            </div>
            <div class="col-flex">
              <div class="calender">
                <img src="img/bed.png" alt="bed">
                <!-- <label for="bed"></label>
                <select name="" id="bed">
                  <option value="1">1</option>
                  <option value="1">1</option>
                  <option value="1">1</option>
                </select> -->
                <div class="cal-select relate">
                  <span class="color-orange inline-block text-center">1</span>
                  <!-- <ul class="cal-dropdown">
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                  </ul> -->
                </div>
              </div>
            </div>
            <div class="col-flex">
              <div class="calender">
                <img src="img/couple.png" alt="couple" height="22">
                <div class="cal-select relate">
                  <span class="color-orange inline-block text-center">1</span>
                  <!-- <ul class="cal-dropdown">
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                  </ul> -->
                </div>
              </div>
            </div>
            <div class="col-flex">
              <div class="calender">
                <img src="img/single.png" alt="couple">
                <div class="cal-select relate">
                  <span class="color-orange inline-block text-center">1</span>
                  <!-- <ul class="cal-dropdown">
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                  </ul> -->
                </div>
              </div>
            </div>
            <div class="col-flex">
              <button type="button" class="btn btn-orange btn-search">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="scroll-section relate">
    <div class="book-scroll">
      <div class="hotel-book-detail">
        <div class="row-flex">
          <div class="col-flex">
            <div class="range-slider">
              <div range-slider min="demo2.range.min" max="demo2.range.max" model-min="demo2.minPrice" model-max="demo2.maxPrice" filter="currency:'₹'" step="100" attach-handle-values="true"></div>
            </div>
          </div>
          <div class="col-flex">
            <div class="feature text-center" ng-click="showRating();">
              <span class="inline-block text-uppercase blue-dark fz13">star rating</span>
              <i class="fa fa-chevron-down pull-right blue-dark"></i>
              <div class="feature-dropdown" ng-show="showRate">
                <ul>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="rate">
                      <label for="rate"><span></span>1 Stars</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="rate1">
                      <label for="rate1"><span></span>2 Stars</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="rate2">
                      <label for="rate2"><span></span>3 Stars</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="rate3">
                      <label for="rate3"><span></span>4 Stars</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="rate4">
                      <label for="rate4"><span></span> 5 Stars</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="unrate">
                      <label for="unrate"><span></span>Unrated</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-flex">
            <div class="feature text-center" ng-click="accomodation();">
              <span class="inline-block text-uppercase blue-dark fz13">accomodation</span>
              <i class="fa fa-chevron-down pull-right blue-dark"></i>
              <div class="feature-dropdown" ng-show="showAccom">
                <ul>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="hotel">
                      <label for="hotel"><span></span>Hotel</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="apart">
                      <label for="apart"><span></span>Apartments</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="guest">
                      <label for="guest"><span></span>Guest houses</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="break">
                      <label for="break"><span></span>Bed &amp; Breakfasts</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="inns">
                      <label for="inns"><span></span> Inns</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="hostel">
                      <label for="hostel"><span></span>Hostels</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="stay">
                      <label for="stay"><span></span>Homestays</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="resort">
                      <label for="resort"><span></span>Resorts</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="lodges">
                      <label for="lodges"><span></span>Lodges</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-flex">
            <div class="feature text-center" ng-click="reviews();">
              <span class="inline-block text-uppercase blue-dark fz13">guest reviews</span>
              <i class="fa fa-chevron-down pull-right blue-dark"></i>
              <div class="feature-dropdown" ng-show="showView">
                <ul>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="superb">
                      <label for="superb"><span></span>Superb: 9+</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="verygood">
                      <label for="verygood"><span></span>Very good: 8+</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="good">
                      <label for="good"><span></span>Good: 7+</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="pleasent">
                      <label for="pleasent"><span></span>Pleasant: 6+</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="average">
                      <label for="average"><span></span> Average: 5-</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="norating">
                      <label for="norating"><span></span>No rating</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-flex">
            <div class="feature text-center" ng-click="area();">
              <span class="inline-block text-uppercase blue-dark fz13">Area</span>
              <i class="fa fa-chevron-down pull-right blue-dark"></i>
              <div class="feature-dropdown" ng-show="showArea">
                <ul>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="western">
                      <label for="western"><span></span>Western Suburbs</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="andheri">
                      <label for="andheri"><span></span>Andheri</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="south">
                      <label for="south"><span></span>South Mumbai</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="central">
                      <label for="central"><span></span>Central Suburbs</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="powai">
                      <label for="powai"><span></span> Powai</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="central">
                      <label for="central"><span></span>Central</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="colaba">
                      <label for="colaba"><span></span>Colaba</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="juhu">
                      <label for="juhu"><span></span>Juhu</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="bandra">
                      <label for="juhu"><span></span>Bandra</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="santacruz">
                      <label for="santacruz"><span></span>Santacruz</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-flex">
            <div class="feature text-center" ng-click="chain();">
              <span class="inline-block text-uppercase blue-dark fz13">chain</span>
              <i class="fa fa-chevron-down pull-right blue-dark"></i>
              <div class="feature-dropdown" ng-show="showChain">
                <ul>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="fab">
                      <label for="fab"><span></span>Fab Hotel</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="oyo">
                      <label for="oyo"><span></span>OYO Rooms</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="sarovar">
                      <label for="sarovar"><span></span>Sarovar Hotels</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="taj">
                      <label for="taj"><span></span>Taj Hotel Resorts..</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="vista">
                      <label for="vista"><span></span> Vista Rooms</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="hyatt">
                      <label for="hyatt"><span></span>Grand Hyatt</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="jw">
                      <label for="jw"><span></span>JW Marriott hotel..</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="oberoi">
                      <label for="oberoi"><span></span>Oberoi Hotels &amp;...</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="ramada">
                      <label for="ramada"><span></span>Ramada</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox-custom">
                      <input type="checkbox" id="treebo">
                      <label for="treebo"><span></span>Treebo Hotels</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-flex">
            <div class="feature text-center" ng-click="filter();">
              <span class="inline-block text-uppercase blue-dark fz13">other filters</span>
              <i class="fa fa-chevron-down pull-right blue-dark"></i>
              <div class="feature-dropdown filter-dropdown" ng-show="showFilter">
                <div class="row">
                  <div class="col-md-4">
                    <div class="feature-part">
                      <h4 class="text-uppercase blue-dark">facility</h4>
                      <ul>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="wifi">
                            <label for="wifi"><span></span>Wifi</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="parking">
                            <label for="parking"><span></span>Parking</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="airpot">
                            <label for="airpot"><span></span>Airport shuttle</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="nosmoking">
                            <label for="nosmoking"><span></span>Non-smoking ro..</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="facility">
                            <label for="facility"><span></span> Facilities for dis...</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="restaurant">
                            <label for="restaurant"><span></span>Restaurant</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="fitness">
                            <label for="fitness"><span></span>Fitness centre</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="indoor">
                            <label for="indoor"><span></span>Indoor pool</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="spa">
                            <label for="spa"><span></span>Spa and wellness..</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="familyroom">
                            <label for="familyroom"><span></span>Family rooms</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="outdoor">
                            <label for="outdoor"><span></span>Outdoor pool</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="pets">
                            <label for="pets"><span></span>Pets allowed</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="feature-part">
                      <h4 class="text-uppercase blue-dark">room facility</h4>
                      <ul>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="air">
                            <label for="air"><span></span>Air Conditioning</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="bath">
                            <label for="bath"><span></span>Bath</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="flat">
                            <label for="flat"><span></span>Flat-screen TV</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="sound">
                            <label for="sound"><span></span>Soundproofing</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="view">
                            <label for="view"><span></span> View</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="kitchen">
                            <label for="kitchen"><span></span>Kitchen/kitchen..</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="patio">
                            <label for="patio"><span></span>Patio</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="spabath">
                            <label for="spabath"><span></span>Spa Bathl</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="terrace">
                            <label for="terrace"><span></span>Terrace</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="washing">
                            <label for="washing"><span></span>Washing Machine</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="featue-part">
                      <h4 class="text-uppercase blue-dark">meals</h4>
                      <ul>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="breakfast">
                            <label for="breakfast"><span></span>Breakfast Included</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="halfboard">
                            <label for="halfboard"><span></span>Half board</label>
                          </div>
                        </li>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="selfcatering">
                            <label for="selfcatering"><span></span>Self catering</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="cancellation">
                      <h4 class="text-uppercase blue-dark">Cancellation policy</h4>
                      <ul>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="cancel">
                            <label for="cancel"><span></span>Free cancellation</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="featue-part">
                      <h4 class="text-uppercase blue-dark">Deal</h4>
                      <ul>
                        <li>
                          <div class="checkbox-custom">
                            <input type="checkbox" id="deal">
                            <label for="deal"><span></span>Deal</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hotel-details">
    <div class="row">
      <div class="col-md-5  col-pad-zero">
        <div class="map pl10">
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d120770.62297068757!2d72.75097704041977!3d18.927765664327545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3be7d1ef25d1fdc1%3A0xe3f924327fd9fdef!2strident+nariman+point+map!3m2!1d18.9277788!2d72.8210175!5e0!3m2!1sen!2sin!4v1462952622060"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-7  col-pad-zero">
        <div class="hotel-search">
          <div class="row">
            <div class="col-md-4 col-sm-3">
              <span class="result blue-dark">Hotels Found : {{hotels.length}}</span>
            </div>
            <div class="col-md-8 col-sm-9">
              <div class="result-tab">
                <span class="sortby blue-dark font-bold">Sort by:</span>
                <ul class="pad-zero list-inline inline-block m-clear">
                  <li class="{{classa}}" ng-click="tabchange('popular',1)"><img src="img/popular.png" alt="" class="mr5">Popularity</li>
                  <li class="{{classb}}" ng-click="tabchange('Guest',2)"><img src="img/guest.png" alt="" class="mr5">Guest Rating</li>
                  <li class="{{classc}}" ng-click="tabchange('Price',3)"><img src="img/price.png" alt="" class="mr5">Price</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-hotel-part" ng-if="tab2=='popular'">
          <div class="hotel-infos">
            <div class="hotels"  ng-repeat="hotel in hotels">
              <div class="row">
                <div class="col-md-6">
                  <div class="hotel-image">
                    <figure>
                      <img src="img/tr.jpg" alt="hotelimage" class="img-responsive">
                    </figure>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="hotel-info-detail">
                    <h4 class="color-orange text-capitalize hotel-name">{{hotel.hotel_name}}</h4>
                    <div class="rating mb10">
                      <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'fa fa-star'" state-off="'fa fa-star-o'" aria-labelledby="default-rating"></uib-rating>
                      <span class="blue-dark ml20 distance">5.8 km to center</span>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">{{hotel.rates_from|number:2}} GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix see-all-room">
                        <div class="pull-left">
                          <span class=" color-orange block">See all room options</span>
                          <img src="img/heart.png" alt="" class=" heart" />
                          <span class="color-orange font-bold block">Superb 9.2</span>
                          <span class="block blue-dark">1,157 reviews</span>
                        </div>
                        <div class="pull-right text-right">
                          <strike class="blue-dark font-bold">858 GBP</strike>
                          <h4 class="mt5 mb5 color-orange font-bold">677 GBP</h4>
                          <span class="block">201 GBP per night</span>
                          <button class="btn btn-blue view-deal mt10 mb10" ui-sref="hoteldetail">View deal</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" ng-if="tab2=='Guest'"></div>
        <div class="" ng-if="tab2=='Price'"></div>
      </div>
    </div>
  </div>
</div>
