<div class="panel-booking">
  <div class="container">
    <div class="travel-info">
      <form action="">
        <div class="row-flex">
          <div class="col-flex">
            <input type="text" name="city" class="city form-control" placeholder="Select Your Destination">
          </div>
          <div class="col-flex">
            <div class="calender">
              <label for=""> <img src="img/calendar.png" alt="">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" />
              </label>
            </div>
          </div>
          <div class="col-flex">
            <div class="calender">
              <label for=""><img src="img/calendar-return.png" alt="">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                  ng-click="open2()" />
              </label>
            </div>
          </div>
          <div class="col-flex">
            <div class="number">
              <label for="bed"><img src="img/bed.png" alt="bed"></label>
              <select name="" id="bed">
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
              </select>
            </div>
          </div>
          <div class="col-flex">
            <div class="number">
              <label for="couple"><img src="img/couple.png" alt=""></label>
              <select name="" id="couple">
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
              </select>
            </div>
          </div>
          <div class="col-flex">
            <div class="number">
              <label for="single"><img src="img/single.png" alt=""></label>
              <select name="" id="single">
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
              </select>
            </div>
          </div>
          <div class="col-flex">
            <button type="button" class="btn btn-warning">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="hotel-book-detail">
    <form action="">
      <div class="row-flex">
        <div class="col-flex">
          <div class="range-slider">
            <div range-slider min="demo2.range.min" max="demo2.range.max" model-min="demo2.minPrice" model-max="demo2.maxPrice" filter="currency:'₹'" step="100"></div>
          </div>
        </div>
        <div class="col-flex">
          <select name="" id="" class="text-uppercase">
            <option value="" class="text-uppercase">Star rating</option>
          </select>
        </div>
        <div class="col-flex">
          <select name="" id="" class="text-uppercase">
            <option value="" class="text-uppercase">accomodation</option>
          </select>
        </div>
        <div class="col-flex">
          <select name="" id="" class="text-uppercase">
            <option value="" class="text-uppercase">guest reviews</option>
          </select>
        </div>
        <div class="col-flex">
          <select name="" id="" class="text-uppercase">
            <option value="" class="text-uppercase">Area</option>
          </select>
        </div>
        <div class="col-flex">
          <select name="" id="" class="text-uppercase">
            <option value="" class="text-uppercase">chain</option>
          </select>
        </div>
        <div class="col-flex">
          <select name="" id="" class="text-uppercase">
            <option value="" class="text-uppercase">other filters</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="hotel-details">
    <div class="details">
      <div class="col-flex">

      </div>
    </div>
    <div class="row">
      <div class="col-md-5 pad-zero">
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d120770.62297068757!2d72.75097704041977!3d18.927765664327545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3be7d1ef25d1fdc1%3A0xe3f924327fd9fdef!2strident+nariman+point+map!3m2!1d18.9277788!2d72.8210175!5e0!3m2!1sen!2sin!4v1462952622060"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-7 pad-zero">
        <div class="hotel-search">
          <div class="row">
            <div class="col-md-4">
              <span class="result blue-dark">Hotels Found : 7</span>
            </div>
            <div class="col-md-8">
              <div class="result-tab">
                <span class="sortby blue-dark font-bold">Sort by:</span>
                <ul class="pad-zero list-inline inline-block m-clear">
                    <li class="{{classa}}" ng-click="tabchange('popular',1)"><img src="img/popular.png" alt="" class="mr5">Popularity</li>
                    <li class="{{classb}}" ng-click="tabchange('Guest',2)"><img src="img/guest.png" alt="" class="mr5">Guest Rating</li>
                    <li class="{{classc}}" ng-click="tabchange('Price',3)"><img src="img/price.png" alt="" class="mr5">Price</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-hotel-part" ng-if="tab2=='popular'">
          <div class="hotel-infos">
            <div class="hotels">
              <div class="row">
                <div class="col-md-6">
                  <div class="hotel-image">
                    <figure>
                      <img src="img/tr.jpg" alt="hotelimage">
                    </figure>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="hotel-info-detail">
                    <h4 class="color-orange text-capitalize">Trident nariman hotel</h4>
                    <div class="rating mb10">
                      <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'fa fa-star'" state-off="'fa fa-star-o'" aria-labelledby="default-rating"></uib-rating>
                      <span class="blue-dark ml20">5.8 km to center</span>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix see-all-room">
                        <div class="pull-left">
                          <span class=" color-orange block">See all room options</span>
                          <img src="img/heart.png" alt="" class=" heart" />
                          <span class="color-orange font-bold block">Superb 9.2</span>
                          <span class="block blue-dark">1,157 reviews</span>
                        </div>
                        <div class="pull-right text-right">
                          <strike class="blue-dark font-bold">858 GBP</strike>
                          <h4 class="mt5 mb5 color-orange font-bold">677 GBP</h4>
                          <span class="block">201 GBP per night</span>
                          <button class="btn btn-blue view-deal mt10 mb10" ui-sref="hoteldetail" >View deal</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hotels">
              <div class="row">
                <div class="col-md-6">
                  <div class="hotel-image">
                    <figure>
                      <img src="img/tr.jpg" alt="hotelimage">
                    </figure>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="hotel-info-detail">
                    <h4 class="color-orange text-capitalize">Trident nariman hotel</h4>
                    <div class="rating mb10 mb10">
                      <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'fa fa-star'" state-off="'fa fa-star-o'" aria-labelledby="default-rating"></uib-rating>
                      <span class="blue-dark ml20">5.8 km to center</span>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix see-all-room">
                        <div class="pull-left">
                          <span class=" color-orange block">See all room options</span>
                          <img src="img/heart.png" alt="" class=" heart" />
                          <span class="color-orange font-bold block">Superb 9.2</span>
                          <span class="block blue-dark">1,157 reviews</span>
                        </div>
                        <div class="pull-right text-right">
                          <strike class="blue-dark font-bold">858 GBP</strike>
                          <h4 class="mt5 mb5 color-orange font-bold">677 GBP</h4>
                          <span class="block">201 GBP per night</span>
                          <button class="btn btn-blue view-deal mt10 mb10" ui-sref="hoteldetail" >View deal</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hotels">
              <div class="row">
                <div class="col-md-6">
                  <div class="hotel-image">
                    <figure>
                      <img src="img/tr.jpg" alt="hotelimage">
                    </figure>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="hotel-info-detail">
                    <h4 class="color-orange text-capitalize">Trident nariman hotel</h4>
                    <div class="rating mb10">
                      <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'fa fa-star'" state-off="'fa fa-star-o'" aria-labelledby="default-rating"></uib-rating>
                      <span class="blue-dark ml20">5.8 km to center</span>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix see-all-room">
                        <div class="pull-left">
                          <span class=" color-orange block">See all room options</span>
                          <img src="img/heart.png" alt="" class=" heart" />
                          <span class="color-orange font-bold block">Superb 9.2</span>
                          <span class="block blue-dark">1,157 reviews</span>
                        </div>
                        <div class="pull-right text-right">
                          <strike class="blue-dark font-bold">858 GBP</strike>
                          <h4 class="mt5 mb5 color-orange font-bold">677 GBP</h4>
                          <span class="block">201 GBP per night</span>
                          <button class="btn btn-blue view-deal mt10 mb10" ui-sref="hoteldetail" >View deal</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hotels">
              <div class="row">
                <div class="col-md-6">
                  <div class="hotel-image">
                    <figure>
                      <img src="img/tr.jpg" alt="hotelimage">
                    </figure>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="hotel-info-detail">
                    <h4 class="color-orange text-capitalize">Trident nariman hotel</h4>
                    <div class="rating mb10">
                      <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" state-on="'fa fa-star'" state-off="'fa fa-star-o'" aria-labelledby="default-rating"></uib-rating>
                      <span class="blue-dark ml20">5.8 km to center</span>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix mt5 mb5">
                        <span class="blue-dark pull-left">Best Available Rate</span>
                        <span class="blue-dark pull-right">1,004 GBP</span>
                      </div>
                      <div class="clearfix mt5 mb5">
                        <span class="pull-left"><img src="img/cup.png" alt="" class="v-top mr5">Breakfast included</span>
                        <span class="pull-right color-orange">hotel.info</span>
                      </div>
                    </div>
                    <div class="hotel-rate">
                      <div class="clearfix see-all-room">
                        <div class="pull-left">
                          <span class=" color-orange block">See all room options</span>
                          <img src="img/heart.png" alt="" class=" heart" />
                          <span class="color-orange font-bold block">Superb 9.2</span>
                          <span class="block blue-dark">1,157 reviews</span>
                        </div>
                        <div class="pull-right text-right">
                          <strike class="blue-dark font-bold">858 GBP</strike>
                          <h4 class="mt5 mb5 color-orange font-bold">677 GBP</h4>
                          <span class="block">201 GBP per night</span>
                          <button class="btn btn-blue view-deal mt10 mb10" ui-sref="hoteldetail" >View deal</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" ng-if="tab2=='Guest'"></div>
        <div class="" ng-if="tab2=='Price'"></div>
      </div>
    </div>
  </div>
</div>
