<div class="panel">
  <div class="container">
    <div class="travel-info">
    <form action="">
      <input type="text" name="city" placeholder="select your destination">
      <div class="calender">
      <div ng-controller="DatepickerDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
      <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
    </div>
    </div>
</div>
<div class="calender">
<div ng-controller="DatepickerDemoCtrl">
<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

<h4>Inline</h4>
<div style="display:inline-block; min-height:290px;">
<uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
</div>
</div>
</div>
    </form>
    </div>
</div>
</div>
<div class="container">
  <div class="details">
    <div class="col-flex">

    </div>
      </div>
      <div class="row">
        <div class="col-md-6">
         <div class="map">
           <iframe></iframe>
         </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h2>trident nariman hotel</h2>
            </div>
            <div class="col-md-6">
              <!--heart icon-->
            </div>
          </div>
              <div class="hotel-inside">
                <div class="inside-carousel">
                <!--carousel-->
                </div>
              </div>
              <div class="hotel-table">
                <table>
                  <thead>
                    <tr>
                      <th>booking sites</th>
                      <th>room</th>
                      <th>room per night</th>
                      <th>total for 5 nights</th>
                      <th>buttons of view</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="customer-views">
                <h3>sea views,location</h3>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
              </div>
              <div class="hotel-features">
                <h3>hotel features</h3>
              <ul class="list-inline">
                <li>wifi</li>
                <li>parking</li>
                <li>restaurant</li>
                <li>gym</li>
                <li>room service</li>
              </ul>
              <div class="row">
                <div class="col-md-6">
                  <div class="features">
                    <h3>activites</h3>
                    <p>ddddd</p>
                  </div>
                  <div class="features">
                    <h3>check-in</h3>
                    <p>ddddd</p>
                  </div>
                  <div class="features">
                    <h3>check-out</h3>
                    <p>ddddd</p>
                  </div>
                  <div class="features">
                    <h3>general</h3>
                    <p>ddddd</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="features">
                    <h3>internet</h3>
                    <p>ddddd</p>
                  </div>
                  <div class="features">
                    <h3>parking</h3>
                    <p>ddddd</p>
                  </div>
                  <div class="features">
                    <h3>services</h3>
                    <p>ddddd</p>
                  </div>
                </div>
              </div>
              </div>
              <div class="summary">
                <h3>a summary of ...</h3>
                <ul class="list-inline">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="list">
                <div class="row">
                  <div class="col-md-6">
                    <li></li>
                    <li></li>
                    <li></li>
                  </div>
                  <div class="col-md-6">
                    <li></li>
                    <li></li>
                  </div>
                </div>
                </div>
              </div>
        </div>
      </div>
</div>
