<div class="panel-booking">
  <div class="container">
    <div class="travel-info">
      <form action="">
        <div class="row-flex">
          <div class="col-flex">
            <input type="text" name="city" class="city form-control" placeholder="Select Your Destination">
          </div>
          <div class="col-flex">
            <div class="calender">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" />
            </div>
          </div>
          <div class="col-flex">
            <div class="calender">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-click="open2()" />
            </div>
          </div>
          <div class="col-flex">
            <div class="number">
              <label for="bed"><img src="img/bed.png" alt="bed"></label>
              <select name="" id="bed">
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
              </select>
            </div>
          </div>
          <div class="col-flex">
            <div class="number">
              <label for="couple"><img src="img/couple.png" alt=""></label>
              <select name="" id="couple">
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
              </select>
            </div>
          </div>
          <div class="col-flex">
            <div class="number">
              <label for="single"><img src="img/single.png" alt=""></label>
              <select name="" id="single">
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
              </select>
            </div>
          </div>
          <div class="col-flex">
            <button type="button" class="btn btn-warning">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="details">
    <div class="col-flex">
      <p>return to results</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d120770.62297068757!2d72.75097704041977!3d18.927765664327545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3be7d1ef25d1fdc1%3A0xe3f924327fd9fdef!2strident+nariman+point+map!3m2!1d18.9277788!2d72.8210175!5e0!3m2!1sen!2sin!4v1462952622060"
          width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h2>trident nariman hotel</h2>
          <!--rating stars-->
        </div>
        <div class="col-md-6">
          <span><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span>Superb 9.2</span>
          <span>1,157 reviews</span>
        </div>
      </div>
      <div class="hotel-inside">
        <div class="inside-carousel">
          <flexslider class="carousel" flex-slide="slide in slider" animation="slide" item="150">
            <li><img src="" alt="" class="img-responsive" ng-src="{{}}"></li>
          </flexslider>
        </div>
      </div>
      <div class="hotel-table">
        <table>
          <thead>
            <tr>
              <th>booking sites</th>
              <th>room</th>
              <th>room per night</th>
              <th>total for 5 nights</th>
              <th>buttons of view</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Best available rate</td>
              <td>1,004 GBP</td>
              <td>1,004 GBP</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Best available rate</td>
              <td>1,004 GBP</td>
              <td>1,004 GBP</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Best available rate</td>
              <td>1,004 GBP</td>
              <td>1,004 GBP</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>Best available rate</td>
              <td>1,004 GBP</td>
              <td>1,004 GBP</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="customer-views">
        <h3>“Sea views, Great location, Excellent service”</h3>
        <p>Featuring an outdoor pool and a swimming pool, Trident Nariman Point is located in Mumbai and offers lively accommodation. It provides 5-star accommodation and views of the sea. </p>
        <p>There are a variety of facilities on offer to guests of The Trident Nariman Point, including an express check-in and check-out feature, an executive floor and 24-hour room service. It offers babysitting services, a currency exchange and a reception
          that operates 24 hours a day.</p>
        <p>Rooms at Trident Nariman Point are spacious and feature a mini bar and movies-on-demand. Each provide bottled water, a seating area and a private bathroom with a shower.</p>
        <p>A satisfying breakfast is prepared every morning at Trident Hotel Nariman Point, and there are numerous cafés and eateries close by.</p>
        <p>Mumbai's well-known attractions are within close proximity to Trident Hotel Nariman Point Mumbai, with Air India Building only a short walk away. The hotel also offers parking for those travelling by car.</p>
      </div>
      <div class="hotel-features">
        <h3>hotel features</h3>
        <ul class="list-inline">
          <li><img src="img/wifi.png" class="img-responsive" alt="wifi">wifi</li>
          <li><img src="img/parking.png" class="img-responsive" alt="parking">parking</li>
          <li><img src="img/restaurant.png" class="img-responsive" alt="restaurant">restaurant</li>
          <li><img src="img/gym.png" class="img-responsive" alt="gym">gym</li>
          <li><img src="img/service.png" class="img-responsive" alt="room service">room service</li>
        </ul>
        <div class="row">
          <div class="col-md-6">
            <div class="features">
              <h3>activites</h3>
              <p>Fitness Room/Gym, Tour Desk, Massage / Beauty Centre, Bath, Salon, Spa & Wellness Centre</p>
            </div>
            <div class="features">
              <h3>check-in</h3>
              <p>From 2:00 PM</p>
            </div>
            <div class="features">
              <h3>check-out</h3>
              <p>Prior to 12:00 PM</p>
            </div>
            <div class="features">
              <h3>general</h3>
              <p>Room Service, Restaurant, Bar / Lounge, Air Conditioned, Mini Bar, In Room Movies, Connecting Rooms, Hair Dryer, TV, Shower, En suite, Private Bathroom, Private Toilet, Coffee Shop/Cafeteria</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="features">
              <h3>internet</h3>
              <p>Wireless internet on site.</p>
            </div>
            <div class="features">
              <h3>parking</h3>
              <p>Valet parking is offered at the hotel</p>
            </div>
            <div class="features">
              <h3>services</h3>
              <p>Business Center, Concierge, Elevator / Lift, 24-Hour Reception, Dry Cleaning, Babysitting / Child Services, Conference Room(s), Currency Exchange, Safe-Deposit Box, ATM / Cash Machine, Meeting Rooms, Laundry service, Shops, Photocopier,
                Ticket Service, Executive Floor, Luggage Storage, Designated Smoking Area, Shops in Hotel, Express Check-In/Check-Out, Shoe Shine, Self Laundry</p>
            </div>
          </div>
        </div>
      </div>
      <div class="summary">
        <h3>a summary of 1,157 guest views</h3>
        <ul class="list-inline">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <div class="list">
          <div class="row">
            <div class="col-md-6">
              <li>Stunning sea views </li>
              <li>Convenient location</li>
              <li>Guests thought the staff were professional and provided good service</li>
            </div>
            <div class="col-md-6">
              <li>Satisfying breakfast</li>
              <li>Efficient check-in/check-out</li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
