
<div class="panel">
  <div class="container">
    <div class="travel-info">

    </div>
</div>
</div>
<div class="container">
<div class="hotel-details">
  <div class="details">
    <div class="col-flex">

    </div>
      </div>
  <div class="row">
    <div class="col-md-6">
     <div class="map">
       <iframe></iframe>
     </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <p>Hotels Found:7</p>
        </div>
        <div class="col-md-6">
          <div class="sorting-types">
            <span>Sort by</span>
            <uib-tabset active="active">
          <uib-tab index="0" heading="Vertical 1">
            <uib-tab-heading>Popularity</uib-tab-heading>
          </uib-tab>
          <uib-tab index="1" heading="Vertical 2">
              <uib-tab-heading>Guest Rating</uib-tab-heading>
          </uib-tab>
          <uib-tab index="2" heading="Vertical 3">
              <uib-tab-heading>Price</uib-tab-heading>
          </uib-tab>
        </uib-tabset>
          </div>
        </div>
      </div>
      <div class="hotel-infos">
        <div class="hotels">
          <div class="row">
            <div class="col-md-6">
              <div class="hotel-image">
                <figure>
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="col-md-6">
              <div class="hotel-info">
                <h2>Trident nariman hotel</h2>
                <div class="stars">
                  <span><img src="" alt="">5.8 km to center</span>
                </div>
                <div class="table">

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hotels">
          <div class="row">
            <div class="col-md-6">
              <div class="hotel-image">
                <figure>
                  <img src="" alt="">
                </figure>
              </div>
            </div>
            <div class="col-md-6">
              <div class="hotel-info">
                <h2>Trident nariman hotel</h2>
                <div class="stars">
                  <span><img src="" alt="">5.8 km to center</span>
                </div>
                <table class="table">
                <tr>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
</div>
