<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="">
            <h4 class="text-uppercase">Home</h4>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li><a href="" class="text-uppercase">ITINERARIES &amp; DESTINATIONS</a></li>
                  <li><a href="" class="text-uppercase">PRE-PLAN YOUR NEXT HOLIDAY</a></li>
                  <li><a href="" class="text-uppercase">MY TRAVEL DIARY</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                 <li><a href="" class="text-uppercase">ON THE GO JOURNEY</a></li>
                  <li><a href="" class="text-uppercase">TRAVEL BLOGS</a></li>
                  <li><a href="" class="text-uppercase">TRAVEL AGENTS</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="">
            <h4 class="text-uppercase">Help</h4>
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <li><a href="" class="text-uppercase">ABOUT TRAVELIBRO</a></li>
                  <li><a href="" class="text-uppercase">FAQ’s</a></li>
                  <li><a href="" class="text-uppercase">Advertise with us</a></li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                 <li><a href="" class="text-uppercase">ON THE GO JOURNEY</a></li>
                  <li><a href="" class="text-uppercase">TRAVEL BLOGS</a></li>
                  <li><a href="" class="text-uppercase">TRAVEL AGENTS</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-right">
            <h4 class="text-uppercase">Followus</h4>
            <div class="social-links">
              <ul>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href=""><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
