<footer class="bg-gray-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-5 footer-view">
        <div class="">
          <h5 class="color-white text-uppercase font-light">Home</h5>
          <div class="row">
            <div class="col-md-6 ">
              <ul>
                <li><a href="" title="Itineraries &amp; Destinations" class="gray-light text-uppercase">ITINERARIES &amp; DESTINATIONS</a></li>
                <li><a href="" title="Pre-Plan Your Next Holiday" class="gray-light text-uppercase">PRE-PLAN YOUR NEXT HOLIDAY</a></li>
                <li><a href="" title="MY Travel Diary" class="gray-light text-uppercase">MY TRAVEL DIARY</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li><a href="" title="On The Go Journey" class="gray-light text-uppercase">ON THE GO JOURNEY</a></li>
                <li><a href="" title="Travel Blogs" class="gray-light text-uppercase">TRAVEL BLOGS</a></li>
                <li><a href="" title="Travel Agents" class="gray-light text-uppercase">TRAVEL AGENTS</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-4 col-xs-4 footer-view">
        <div class="">
          <h5 class="color-white text-uppercase font-light">Help</h5>
          <div class="row">
            <div class="col-md-5">
              <ul>
                <li><a href="" title="About Travelibro" class="gray-light text-uppercase">ABOUT TRAVELIBRO</a></li>
                <li><a href="" title="FAQ’s" class="gray-light text-uppercase">FAQ’s</a></li>
                <li><a href="" title="Advertise with us" class="gray-light text-uppercase">Advertise with us</a></li>
              </ul>
            </div>
            <div class="col-md-5">
              <ul>
                <li><a href="" title="Register As A Travel Agent" class="gray-light text-uppercase">register as a travel agent</a></li>
                <li><a href="" title="Contact Us" class="gray-light text-uppercase">contact us</a></li>
                <li><a href="" title="Terms &amp; Conditions" class="gray-light text-uppercase">terms &amp; conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-3 footer-view">
        <div class="text-right follow">
          <h5 class="color-white text-uppercase font-light ">Followus</h5>
          <div class="social-links">
            <ul>
              <li><a href="" class="color-white"><i class="fa fa-facebook "></i></a></li>
              <li><a href="" class="color-white"><i class="fa fa-twitter "></i></a></li>
              <li><a href="" class="color-white"><i class="fa fa-google-plus "></i></a></li>
              <li><a href="" class="color-white"><i class="fa fa-youtube "></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
