<header>
   <div class="navbar navbar-default clearfix">
    <div class="container">
        <div class="nav-header inline-block">
            <a href="" class="inline-block v-mid hidden-xs"><span class="menu">Menu</span></a>
            <a href="" class="inline-block v-mid visible-xs hamburger">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <h1 class="logo inline-block v-mid"><a class="" href="#/home"><img src="img/logo.png" alt="logo"></a></h1>
        </div>
        <div class="search inline-block hidden-sm hidden-xs">
          <form action="" class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control head-search" placeholder="Search people, destinations, itineraries, agents and tags">
              <button class="btn head-go" type="submit">GO</button>
            </div>
          </form>
        </div>
        <div class="user-detail pull-right">
          <ul class="list-inline">
            <li>
            <div class="profile inline-block">
              <a href="" class="inline-block v-mid"><img src="img/profile.png" alt="" class="img-responsive" width="32"></a>
              <a href="" class="inline-block v-mid"><span class="name">Viraj</span></a>
            </div>
          </li>
            <li>
              <a href=""><img src="img/direction.png" alt="" class="img-responsive"></a>
            </li>
            <li>
              <a href=""><img src="img/mail.png" alt="" class="img-responsive"></a>
            </li>
            <li>
              <a href=""><img src="img/setting.png" alt="" class="img-responsive"></a>
            </li>
          </ul>
        </div>
    </div>
</div>
<nav>
  <div class="container">
    <ul class="menu-down hidden-xs">
      <li><a href="" class="text-uppercase">pre plan your next holiday</a></li>
      <li><a href="" class="text-uppercase">destinations &amp; itineraries</a></li>
      <li><a href="" class="text-uppercase">My Travel Diary</a></li>
      <li class="booking"><a href="" class="text-uppercase">Bookings</a>
        <ul class="submenu">
          <li><a href="" class="text-uppercase">Flights</a></li>
          <li><a href="" class="text-uppercase">Hotels</a></li>
          <li><a href="" class="text-uppercase">Car Hire</a></li>
          <li><a href="" class="text-uppercase">Home Stays</a></li>
          <li><a href="" class="text-uppercase">Tours &amp; Excursions</a></li>
          <li><a href="" class="text-uppercase">Parking Space</a></li>
        </ul>
      </li>
      <li><a href="" class="text-uppercase">travel agents</a></li>
      <li><a href="" class="text-uppercase">travel blogs</a></li>
    </ul>
  </div>
</nav>
</header>
